Menu (<a href="{{ site.github.repository_url }}/edit/{{site.git_branch | escape}}/_includes/sidebar.html">Edit</a>):

<ul>
  <li><a href="{{ '/' | relative_url }}">Home</a></li>
  <li><a href="{{ '/getting-started' | relative_url }}">Getting Started</a></li>
  <li><a href="{{ '/obtaining-quazarith-and-upgrading' | relative_url }}">Obtaining Quazarith and upgrading</a></li>
  
  <li><a href="{{ '/catalog_home' | relative_url }}">Catalogs:</a></li>
  <ul>
    <li><a href="{{ '/catalog_items' | relative_url }}">Item Catalog</a></li>
    <li><a href="{{ '/catalog_blocks' | relative_url }}">Block Catalog</a></li>
    <li><a href="{{ '/catalog_mobs' | relative_url }}">Mob Catalog</a></li>
  </ul>
</ul>
